@import url('https://fonts.googleapis.com/css2?family=Share+Tech:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Share Tech";
  color: #ffffff;
  background-color: #202020;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}

.navbar h1 {
  color: #64ff64;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #64ff64;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 20px 10px;
  margin: 20px 0;
  border-bottom: 1px solid #646464;
}
.blog-preview:hover {
 box-shadow: 1px 0px 0px 0px inset #e0e0e0;
}
.blog-preview h2 {
  font-size: 20px;
  color: #64ff64;
  margin-bottom: 5px;
}

.blog-preview p {
  color: #ffffff
}